<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<!-- [if lt IE 9] >
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![end if]-->
		<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
		<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
		<%= stylesheet_link_tag 'custom', :media => 'screen' %>
	</head>

	<body>
		<div class="container">
			<header>
				<%= link_to(image_tag("logo.png", :alt => "Sample App", :class => "round"), root_path) %>
				<nav class="round">
					<ul>
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "Help", help_path %></li>
						<li><% if signed_in? %>
							<%= link_to "Sign out", signout_path, :method => :delete %>
							<% else %>
							<%= link_to "Sign in", signin_path %>
							<% end %></li>
					</ul>
				</nav>
			</header>
			<section class="round">
				<% flash.each do |key, value| %>
					<div class="flash <%=key%>"><%= value %></div>
				<% end %>
				<%= yield %>
			</section>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>

